svg.svelte-1dw6lxl{height:600px;width:600px}path.svelte-1dw6lxl{fill:none}.bg.svelte-1dw6lxl{stroke:var(--accent-purple);stroke-width:5px}.fg.svelte-1dw6lxl{stroke:var(--hit-yellow);stroke-width:1.5px}
