svg.svelte-11svwpz{height:600px;width:600px}path.svelte-11svwpz{fill:none}.bg.svelte-11svwpz{stroke:var(--accent-purple);stroke-width:5px}.fg.svelte-11svwpz{stroke:var(--hit-yellow);stroke-width:1.5px}
