:root {
	--font-mono: 'Courier New', monospace;
	--font-body: var(--font-mono);
	font-family: var(--font-body);

	--unified-margin: min(min(27px, 2vw), 3.7svh);
	--xxl-pad: min(32px, 5vw);
	--big-pad: min(18px, 3vw);
	--small-pad: min(8px, 1.2vw);

	--shrinking-font: min(1em, 2vw);

	--dark-main: #030303;
	--dark-grey: #A0A0A0;
	--light-main: #FEEBF6;
	--darkish-purple: #471396;
	--accent-purple: #B13BFF;
	--mild-purple: #EBD6FB;
	--hit-yellow: #FFCC00;
}
:root {
	--bg: #ffffff;
	--color-text: var(--dark-main);
	--accent-text: var(--accent-purple);
	--highlight-text: var(--darkish-purple);
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: var(--dark-grey);
		--color-text: var(--dark-main);
		--accent-text: var(--hit-yellow);
		--highlight-text: var(--mild-purple);
	}
}

html,
body {
	height: 100%;
	margin: 0px;
	color: var(--color-text);
	background-color: var(--bg);
}


.padded {
	padding: var(--big-pad)
}

.small-padded {
	padding: var(--small-pad)
}

.marged {
	margin: var(--unified-margin)
}

.shrinking-font {
	font-size: var(--shrinking-font);
}
